body {
    margin: 0;
    background-color: #170312; 
    color: #97D8B2;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 3em ;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color:#97D8B2
}

@media (max-width: 615px)
{
    h2 {
        font-size: 2.5em;
    }
} 

header {
    display: flex;
    justify-content: flex-end;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:#1e0418;
    }

nav {
    display: flex;
    margin: 1%;
    width: 100%;
    justify-content: flex-end;
    
}
.nav-lista {
    display: flex;
    width: 100%;
    font-size: 1.2em;
    justify-content: flex-end;
    margin: 0 ;
    margin-right: 15%;

}
.nav-lista li{
    display: flex;
    padding: 2% 4%;
    width: 30%;
}
.nav-lista a {
    padding: 4% 10%;
}

.nav-a-contacto {
    background-color: #711771;
    border-radius: 20px;
}

li :hover {
    color:#deffec;
}
li :active {
    border-radius: 20px;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
-webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
-moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}

.container-presentacion {
    display: flex;
    margin: 8%;
}


.presentacion {
    margin: 3%;
    margin-top: 4%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.presentacion h3 {
    font-size: 1.8em;
    font-weight: bold;
   
}
.presentacion h1 {
    margin-top: 0;
    margin-bottom: 2%;
    font-weight: bolder;
}

.lo-que-hago {
    background-color: #440f44;
    color: #97D8B2;
    border-radius: 30px;
    border: solid #440f44;
    width: 24%;
    padding: 2% 6%;
    font-size: 1.3em;
}
.lo-que-hago:hover {
    background-color: #6c1d6c;
    border: 1px solid  #6c1d6c;
}
.lo-que-hago:active {
    background-color: #27051e;
}

figure {
    width: 395px;
    height: 310px;
    display: flex;
    margin-top: 4%;
}
img {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    object-position: center;
    object-fit: cover;
    border-radius: 5%;
}
@media (max-width: 1123px) {
    .container-presentacion {
        flex-direction: column;
        text-align: center;
        align-items: center
    }
}
@media (max-width:758px) {
    h1 {
        font-size: 3em;
    }
    figure {
        width: 100%;
        height: 100%;
        display: flex;
        flex-shrink: 4;
    }
}

@media (max-width:361px) {
    h1 {
        font-size: 2.5em;
    }
    
}



.container-mis-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5%;
}

.container-mis-conocimientos p{
    width:30%;
}
.container-mis-conocimientos div {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
.container-mis-conocimientos article {
    margin: 5%;
    padding: 1%;
    border:#27051e 1px solid;
    border-radius: 10px;
    background-color:#27051e;
    width: 200px;
    height: 200px;
}
.container-mis-conocimientos article:hover {
    border: #97D8B2 1px solid;
    color:aliceblue;
}
.container-mis-conocimientos i {
    font-size: 8em;
}
 



.container-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #531253;
}
.cita-titulo{
    font-size: 2em;
    
}
.container-cita p {
    width: 70%;
    margin-top: 5%;
}

@media (max-width:998px) {
    .container-cita {
        font-size: 0.9em;
    }
}
@media (max-width:600px) {
    .cita-titulo {
       font-size: 0.8em; }
}



.mis-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}
.container-mis-proyectos {
    display: flex;
    flex-wrap: wrap;
    width: 85%
    
}

.mis-proyectos p {
    width: 30%;
    margin-bottom: 4%;
    margin-top: 0;
}

.mis-proyectos article {
    background-color:#6c1d6c;
    border:#6c1d6c solid 1px ;
    border-radius: 10px;
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    padding: 1.5%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
.mis-proyectos article:hover {
    border: 1px #97D8B2 solid;
}
.mis-proyectos figure {
    margin: 0;
    width: 290px;
    height: 200px;
    padding: 4% 2%;
    display: flex;
    
}
.mis-proyectos img {
    background-color:#6c1d6c;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center;
    object-fit: cover;
}

.mis-proyectos article :hover article:not (h3){
    border: #97D8B2 solid 1px;
    color:aliceblue;
}

.mis-proyectos article :focus {
    box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -webkit-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -moz-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    
}
/* 
@media (max-width:1245px) {
    .mis-proyectos figure {
        flex-shrink: 5;
    }
    .mis-proyectos article {
        flex-shrink: 5;
    }
    
} */



.container-contactame-escribeme , .contactame , .escribeme , #form-contact{
    display: flex;
}

.contactame , .escribeme , #form-contact {
    flex-direction: column;
}

.container-contactame-escribeme {
    background-color: #711771;
    margin: 8%;
    border-radius: 10px;

}
.container-contactame-escribeme h2 {
    margin-top: 0;
}

.contactame {
    margin: 5%;
    width: 50%;
}

.lista-contactame{
    padding: 0;
    font-size: 1.2em;
}

.lista-contactame i{
    padding: 5%;
}

.escribeme {
    margin: 5%;
    width: 50%;
}

input , textarea {
    margin: 3% 0%;
    color: #000000;
    background-color: #ccfadb;
    border-radius: 20px;
    width: 100%;
    font-size: 0.8em;
    padding: 3%;
}

input {
    border: #ccfadb 1px solid;
    border-radius: 20px;
}

textarea {
    resize: none;
    height: 150px;
}

label {
    margin: 2%;
    font-size: 0.8em;
}

#form-contact {
    justify-content: space-around;
    font-size: 1.4em;
    padding: 1%;
    width: 100%;
}

#form-contact div {
    display:flex
}

#submit {
    background-color: #531253;
    color: #97D8B2;
    border-radius: 30px;
    border: solid #531253 1px;
    width: 35%;
    font-size: 1em;
    padding: 3%;
    margin-top: 0;
}

@media (max-width:863px) {
    .container-contactame-escribeme {
        flex-direction: column;
    }
    .contactame {
        width: 90%;
    }
    .contactame p {
        width: 60%;
    }
    .container-contactame-escribeme ul {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .container-contactame-escribeme li {
        display: flex;
        width: 50%;
    }
    .container-contactame-escribeme i {
        padding-top:1% ;
    }

    .escribeme {
        width: 90%
    }
}
@media (max-width: 615px) {
    #form-contact div{
        flex-direction: column;
    }
    .container-contactame-escribeme ul {
        flex-direction: column;
        align-content: flex-start;
    }
    .lista-contactame li {
        width: 100%;
        font-size: 1em;
    }
    .container-contactame-escribeme p {
        width: 95%;
    }
}





footer , .lista-footer-hola , .lista-footer-iconos {
    display: flex; 
    justify-content: center;
}

footer {
    background-color: #531253;
    border: #531253 solid ;
    flex-direction: column;
    align-items: center;
}

.lista-footer-hola {
    width: 70%;
    margin-top: 6%;  
}

.lista-footer-iconos {
    width: 20%;
}

.lista-footer-hola li {
    padding: 0 3%;
}

.lista-footer-iconos li {
    padding: 8%;
    margin: 0 2%
}

.lista-footer-iconos i {
    padding: 20%;
    font-size: 2em;
    color: #531253;
    background-color: #97D8B2;
    border-radius: 50%;
}

.footer-parrafo {
    font-size: 1.3em;
    margin-bottom: 4%;
}
.lista-footer-iconos i:hover {
    background-color: #531253;
    color: #97D8B2;
    border: 1px solid #97D8B2;
}
.lista-footer-iconos i:active {
    box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -webkit-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -moz-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
}
.lista-footer-hola li:active {
    box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
-webkit-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
border-radius: 20px;
padding: 1%;
}

@media (max-width: 518px) 
{
    .lista-footer-hola {
        display: none;
    }
    .lista-footer-iconos li {
        margin: 0 10%;
    }
}