body {
    margin: 0;
    background-color: #170312; 
    color: #97D8B2;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 3em ;
    font-weight: bold;
}

h1 {
    font-size: 4em;
    color: rgb(255, 255, 255);
}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color:#97D8B2
}

@media (max-width: 615px)
{
    h2 {
        font-size: 2.5em;
    }
} 

header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:#1e0418;
    }

nav {
    display: flex;
    margin: 1%;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    
}
.nav-lista {
    display: flex;
    width: 70%;
    font-size: 1.2em;
    justify-content: flex-end;
    margin: 0 ;
    margin-right: 15%;
    

}
.nav-lista li{
    display: flex;
    margin: 1% 2%;
    justify-content: center;

}
.nav-lista a {
    display: flex;
    align-items: center;
    padding: 8%;   
}

.nav-a-contacto {
    background-color: #440f44;
    border-radius: 20px;
    width: 150px;
    justify-content: center;
}
.nav-a-contacto:hover {
    color: #97D8B2;
    background-color: #6d2e6d;
}

.nav-a-contacto:active {
    background-color: #27051e;
    color: #97D8B2;
}

li :hover {
    color:#deffec;

}

li :focus { 
    border-radius: 20px;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    border: none;

}
.nav-lista a:focus {
    border: none;
}

.container-presentacion {
    display: flex;
    margin: 8%;
}


.presentacion {
    margin: 3%;
    margin-top: 1%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.presentacion h3 {
    font-size: 2.2em;
    margin-bottom: 2%;
    margin-top: 12%;
   
}
.presentacion h1 {
    margin-top: 0;
    margin-bottom: 1%;
    font-weight: bolder;
}
.presentacion-parrafo-a {
    margin-top: 9%;
}

.lo-que-hago {
    display: inline;
    background-color: #440f44;
    color: #97D8B2;
    border-radius: 30px;
    text-align: center;
    padding: 3% 8%;
    font-size: 1em;
    
}
.lo-que-hago:hover {
    background-color: #6c1d6c;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}

.lo-que-hago:focus {
    background-color: #27051e;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}

figure {
    width: 395px;
    height: 310px;
    display: flex;
    margin-top: 1%;
}
img {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    object-position: center;
    object-fit: cover;
    border-radius: 5%;
}
@media (max-width: 1123px) {
    .container-presentacion {
        flex-direction: column;
        text-align: center;
        align-items: center
    }
    nav {
        display: none;
    }
}
@media (max-width:758px) {
    h1 {
        font-size: 3em;
    }
    figure {
        width: 100%;
        height: 100%;
        display: flex;
        flex-shrink: 4;
    }
}

@media (max-width:361px) {
    h1 {
        font-size: 2.5em;
    }   
}
@media (max-width:319px) {
    h1 {
        font-size: 2.2em;
    }

}



.container-mis-conocimientos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10% 5% 10% 5%;

}

.container-mis-conocimientos p{
    width:50%;
    margin-bottom: 5%;
    margin-top: 0;
}
.container-mis-conocimientos div {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
}
.container-mis-conocimientos article {
    margin: 1%;
    border:#27051e 1px solid;
    border-radius: 10px;
    background-color:#27051e;
    width: 240px;
    height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.container-mis-conocimientos article:hover {
    border: #97D8B2 1px solid;
    color: white;
}

.container-mis-conocimientos h3{
    font-size: 1.4em;
}
.container-mis-conocimientos i {
    font-size: 6em;
}
@media (max-width:1170px) {
    .container-mis-conocimientos div {
        width: 100%;    
    }
}

@media (max-width: 747px) {
    .container-mis-conocimientos p{
        width:80%;
    }
}

 



.container-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #531253;
}
.cita-titulo{
    font-size: 2em;
    
}
.container-cita p {
    width: 70%;
    margin-top: 5%;
}

@media (max-width:998px) {
    .container-cita {
        font-size: 1em;
    }
}
@media (max-width:600px) {
    .cita-titulo {
       font-size: 1.5em; }
}



.mis-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}
.mis-proyectos h2{
    width: 100%;
}

.container-mis-proyectos {
    display: flex;
    flex-wrap: wrap;
    width: 74%;
    
}

.mis-proyectos p {
    width: 50%;
    margin-bottom: 4%;
    margin-top: 0;
}
.mis-proyectos a {
    margin: 1.5%;
    width: 340px;
    height: 350px;
    border-radius: 10px;
}

.mis-proyectos article {
    background-color:#6c1d6c;
    border:#6c1d6c solid 1px ;
    border-radius: 10px;
    box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    -webkit-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    -moz-box-shadow: 10px 10px 37px 0px rgba(0,0,0,0.42);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.mis-proyectos article:hover {
    border: 1px #97D8B2 solid;
}

.mis-proyectos figure {
    margin: 2%;
    width: 300px;
    height: 200px;
    padding: 8%;
    display: flex;
    margin-top: 4%;
}

.mis-proyectos img {
    background-color:#6c1d6c;
    width: 100%;
    height: 100%;
    margin: 0;
    object-position: center;
    object-fit: cover;
}

.mis-proyectos article:hover {
    border: #97D8B2 solid 1px;
    color: white;
}


.mis-proyectos a:focus {
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    
}

@media (max-width:1250px) {
    .container-mis-proyectos 
    { width: 750px;
    }
}
@media (max-width:824px) {
    .container-mis-proyectos 
    { width: 90%;
      justify-content: center;
    }
    .container-mis-proyectos a {
        margin: 5%;
    }
} 
@media (max-width:392px) {
    .container-mis-proyectos a {
        width: 80%;
        height: 270px;
    }
    .container-mis-proyectos figure {
        width: 80%;
        height: 60%;
    }
}




.container-contactame-escribeme , .contactame , .escribeme , #form-contact{
    display: flex;
}

.contactame , .escribeme , #form-contact {
    flex-direction: column;
}

.container-contactame-escribeme {
    background-color: #711771;
    margin: 8%;
    border-radius: 10px;

}
.container-contactame-escribeme h2 {
    margin-top: 0;
}

.contactame {
    margin: 5%;
    width: 50%;
}

.lista-contactame{
    padding: 0;
    font-size: 1.2em;
}

.lista-contactame li {
    margin: 2% 0%;
}
.lista-contactame a {
    padding: 2%;
}

.lista-contactame i{
    padding: 1%;
    margin: 1% ;
    margin-right: 2% ;
    border-radius: 100%;
}

.contactame-a-i:hover i {
    color:#531253;
    background-color: #97D8B2;
    border: 1px, solid,#97D8B2;
}



.escribeme {
    margin: 5%;
    width: 50%;
}

input , textarea {
    margin: 3% 0%;
    color: #000000;
    background-color: #ccfadb;
    border-radius: 20px;
    width: 100%;
    font-size: 0.8em;
    padding: 3%;
}

input {
    border: #ccfadb 1px solid;
    border-radius: 20px;
}

textarea {
    resize: none;
    height: 150px;
}

label {
    margin: 2%;
    font-size: 0.8em;
}

#form-contact {
    justify-content: space-around;
    font-size: 1.4em;
    padding: 1%;
    width: 100%;
}

#form-contact div {
    display:flex
}

#submit {
    background-color: #531253;
    color: #97D8B2;
    border-radius: 30px;
    border: solid #531253 1px;
    width: 35%;
    font-size: 1em;
    padding: 3%;
    margin-top: 0;
}
#submit:hover {
    background-color: #6c1d6c;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}
#submit:active {
    background-color: #27051e;
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}
#submit:focus {
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}

label :focus {
    box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -webkit-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
    -moz-box-shadow: 1px 0px 19px 3px rgba(222,255,236,0.51);
}

@media (max-width:863px) {
    .container-contactame-escribeme {
        flex-direction: column;
    }
    .contactame {
        width: 90%;
    }
    .contactame p {
        width: 60%;
    }
    .container-contactame-escribeme ul {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .container-contactame-escribeme li {
        display: flex;
        width: 50%;
    }
    .container-contactame-escribeme i {
        padding-top:1% ;
    }

    .escribeme {
        width: 90%
    }
}
@media (max-width: 615px) {
    #form-contact div{
        flex-direction: column;
    }
    .container-contactame-escribeme ul {
        flex-direction: column;
        align-content: flex-start;
    }
    .lista-contactame li {
       display: inline;
        width: 100%;
        font-size: 1em;
    }
    .container-contactame-escribeme p {
        width: 95%;
    }
}





footer , .lista-footer-hola , .lista-footer-iconos {
    display: flex; 
    justify-content: center;
}

footer {
    background-color: #531253;
    border: #531253 solid ;
    flex-direction: column;
    align-items: center;
}

.lista-footer-hola {
    width: 70%;
    margin-top: 6%;  
}

.lista-footer-iconos {
    width: 20%;
}

.lista-footer-hola li {
    margin: 1%;
}

.lista-footer-iconos li {
    padding: 6%;
    margin: 0 1%;
}

.lista-footer-iconos i {
    padding: 20%;
    font-size: 2em;
    color: #531253;
    background-color: #97D8B2;
    border-radius: 50%;
}

.footer-parrafo {
    font-size: 1.3em;
    margin-bottom: 4%;
}
.lista-footer-iconos i:hover {
    background-color: #531253;
    color: #97D8B2;
    border: 1px solid #97D8B2;
}
.lista-footer-iconos i:active {
    box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -webkit-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
    -moz-box-shadow: 0px 0px 2px 10px rgba(151,216,178,0.1);
}
.lista-footer-hola li:active {
    box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 14px 4px rgba(255,255,255,0.75);
}

@media (max-width: 518px) 
{
    .lista-footer-hola {
        display: none;
    }
    .lista-footer-iconos li {
        margin: 0 10%;
    }
}

/* PROPAGACION
header:hover .encabezado, h2, footer:hover .sub-list {
} */

/* ICON POSITION DISPLAY NONE, VALID DISPLAY BLOCK E INVALID
TIENE JAVA */